.about-section {
    width: $width-section-about;
    height: $hegith-section-about;
    margin-top: 100px;
    /*background: url(/dist/img/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/


    .about-container {
        width: $width-container-about;
        height: $height-container-about;
        //backdrop-filter: blur(10px);
        margin: 10px;

        .about-photo {
            float: left;
            width: $width-photo-about;
            height: $height-photo-about;

            img {
                width: 50%;
                height: $photo-height;
                border-radius: $photo-border-radius;
                position: relative;
                margin: auto;
                left: $photo-left;
                top: $photo-top;

            }

        }

        .about-description {
            float: right;
            width: $width-description-about;
            height: $height-description-about;

            h1 {
                text-align: center;
                margin: 15px;
                padding-top: 20px;
                position: relative;
                right: 5%;
                font-size: $font-size-title;
                font-weight: bold;
            }

            p {
                padding: 10px;
                text-align: center;
                color: white;
                font-size: $p-font-size-about;
                line-height: $line-height-p-about;
                position: relative;
                top: 15%;
                right: 5%;
            }
        }
    }
}