.about-section {
    width: $width-section-about;
    height: $hegith-section-about;
    margin-top: 100px;


    .about-container {
        width: $width-container-about;
        height: $height-container-about;
        margin: 10px;

        .about-photo {
            float: left;
            width: $width-photo-about;
            height: $height-photo-about;

            img {
                width: 50%;
                height: $photo-height;
                border-radius: $photo-border-radius;
                position: relative;
                margin: auto;
                left: $photo-left;
                top: $photo-top;
                box-shadow: 1px 2px 20px $secondary-color;


            }

        }

        .about-description {
            float: right;
            width: $width-description-about;
            height: $height-description-about;

            h1 {
                text-align: center;
                margin: 15px;
                padding-top: 20px;
                position: relative;
                right: 5%;
                font-size: $font-size-title;
                font-weight: bold;
                color: white;
            }

            p {
                padding: 10px;
                text-align: center;
                color: white;
                font-size: $p-font-size-about;
                line-height: $line-height-p-about;
                position: relative;
                top: 15%;
                right: 5%;
            }
        }
    }
}

@media (max-width: 800px) {
    .about-section {
        display: block !important;
        .about-container {
            .about-photo {
                display: block !important;
                float: none !important;
                width: 100% !important;
                align-items: center !important;

                img {
                    display: block !important;
                    float: none !important;
                    top: 40% !important;
                    left: -20px !important;
                }
            }

            .about-description {
                position: relative !important;
                display: block !important;
                float: none !important;
                left: 10% !important;
                width: 90% !important;
                text-align: center !important;
                left:  30px !important;
                text-align: center !important;
                bottom: 15% !important;

                h1 {
                    position: relative !important;
                    top: 20% !important;
                }
            }
        }
    }
}