footer {

    background-color: $footer-background-color;

    .contact-section {
        margin-left: $contact-section-margin-left;
        margin-right: $contact-section-margin-right;
        position: relative;

        .text-contact {

            position: relative;
            float: right;
            right: 10%;
            text-align: center;
            top: 10rem;

            h1 {
                color: white;
                font-size: $font-size-contact-h1;
                margin-top: $margin-top-contact-h1;
                margin-bottom: $margin-bottom-ontact-h1

            }

            p {
                color: white;
                font-size: $font-size-contact-p;
            }
        }

        .contact-container {
            padding: 10px;

            form {
                margin-left: $margin-left-contact-form;
                width: 50%;

                fieldset {
                    padding-left: $padding-left-contact-fieldset;
                    padding-bottom: $padding-bottom-contact-fieldset;
                    padding-top: $padding-top-contact-fieldset;
                    border-radius: $border-radius-contact-fieldset;
                    border: $border-contact-fieldset;

                    legend {
                        color: white;
                        font-size: $font-size-legend;
                        text-align: center;
                        padding-left: $padding-left-legend;
                        padding-right: $padding-right-legend;
                    }

                    label {
                        color: white;
                        font-size: $font-size-label;
                        margin: $margin-label;
                    }

                    input,
                    textarea {
                        @include inputs-style;
                    }

                    button {
                        box-shadow: $box-shadow-button-contact;
                        background-color: $background-color-button-contact;
                        margin-left: $margin-left-button-contact;
                        border-radius: $border-radius-button-contact;
                        border: $border-button-contact;
                        display: inline-block;
                        color: #ffffff;
                        font-family: $font-family-button-contact;
                        font-size: $font-size-button-contact;
                        font-weight: $font-weight-button-contact;
                        font-style: $font-style-button-contact;
                        padding: $padding-button-contact;
                        text-decoration: none;
                        text-shadow: $text-shadow-button-contact;
                        cursor: pointer;

                        &:hover {
                            background-color: gray;
                        }

                        &:active {
                            position:relative;
                            top:1px;
                        }
                    }

                    a {
                        opacity: 0;
                    }

                }
            }
        }

    }
}

@media (max-width: 800px) {
    footer {
        position: relative;
        top: 60%;

        .contact-section {
            position: relative;
            display: block;

            .text-contact {
                position: relative;
                display: block !important;
                top: 600px !important;
                width: 100vw;
                right: 0 !important;
                text-align: center !important;

            }
        }

        .contact-container {
            width: 90% !important;

            form {
                width: 110% !important;
                position: relative;
                margin: 10px auto;
                left: 1%;
                bottom: 150px;

                fieldset {
                    width: 100% !important;
                }
            }
        }
    }
}