main {
    width: $main-width;
    height: $main-height;
    /*background-color: $main-background-color;
    border: $main-border;*/
    margin: auto;
    /*box-shadow: $main-box-shadow;
    border-radius: 10%;*/

    .item {
        padding: 1%;
        margin-top: 1em;
        height: 92%;
        margin-bottom: 1em;
        display: inline-block;
        
    }

    #item-photo {
        width: $item-photo-width;
        float: left;
        margin-left: 1em;

        img {
            width: $photo-width;
            height: $photo-height;
            border-radius: $photo-border-radius;
            position: relative;
            margin: auto;
            left: $photo-left;
            top: $photo-top;
            z-index: 1;
            box-shadow: 1px 2px 20px #0DE9C1;
        }
        
    }

    #item-description {
        width: $item-description-width;
        float: right;
        margin-right: 1em;
        text-align: center;

        /*&::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 42%;
            padding-right: 1px;
            @include calc(left, '50% - 1px');
            @include calc(top, '20% - 1px');
            background-color: $separation-background-color
        }*/

        h1 {
            font-size: $h1-description-font-size;
            font-weight: $h1-description-font-weight;
            padding: $h1-description-padding;
            color: white;
        }

        p {
            margin-top: $p-description-margin-top;
            font-size: $p-description-font-size;
            padding: $p-description-padding;
            color: wheat;
        }

        .img {
            width: $img-complement-width;
            height: $img-complement-height;
            margin: $img-complement-margin;
            box-shadow: 1px 2px 20px #0DE9C1;
            border-radius: 10px;
        }
    }

}


@media (max-width: 800px) {

    main {
        display: block;
        .item {
            display: block;
        }

        #item-photo {
            width: 90% !important;
            align-items: center !important;
    
            img {
                display: block !important;
                float: none !important;
                top: 10% !important;
                left: 10px !important;
            }
        }

        #item-description {
            position: relative !important;
            display: block !important;
            float: none !important;
            left: 10% !important;
            width: 90% !important;
            text-align: center !important;
            left:  30px !important;
            text-align: center !important;
            bottom: 15% !important;


            p {
                font-size: 150% !important;
                display: block;
                float: none;
            }
            
            .img {
                display: none !important;
                height: 10px !important;
            }
        }


    }

}