.loader-body {
    position: fixed;
    background-color: $color-background;
    color: $color-letter-loading;
    min-height: 100vh;
    width: 100vw;
    z-index: 10;
    top: 0;
    @include loader-display;
    clip-path: circle(141.2% at 100% 0);
    transition: clip-path 2s ease-in-out;

    .loading {
        @include loader-display;
        height: 10%;
        margin-top: 20px;

        h1 {
            text-align: center;
            font-family: $font-family-loading;
            font-weight: 100;
            letter-spacing: $letter-spacing;
            font-size: $font-size;
            position: relative;
            top: 5em;
            overflow: hidden;
            white-space: pre-line;
            animation: maquina-escribir 2s steps(10) infinite alternate;
        }
    }
}

@keyframes maquina-escribir {
    0% {
        width: 0%;
    }

    30% {
        width: 30%;
    }

    60% {
        width: 60%;
    }

    90% {
        width: 90%;
    }

    100% {
        width: 100%;
    }
}

.contenedor {
    .cubo {
        height: $square-height;
        transform-style: preserve-3d;
        animation: rotate 10s linear infinite;

        span {
            position: absolute;
            width: $span-width;
            height: $span-height;
            border: $span-border;
            box-shadow: $span-box-shadow;
            border-radius: $span-border-radius;
            margin-bottom: 5px;

            &:nth-child(1) {
                @include transformTranslate(90deg, 10em);
            }

            &:nth-child(2) {
                @include transformTranslate(90deg, -16em);
            }

            &:nth-child(3) {
                @include transformTranslate(90deg, -25em);
            }

            &:nth-child(4) {
                @include transformTranslate(90deg, 25em);
            }

            &:nth-child(5) {
                @include transformTranslate(90deg, -2em);
            }

            &:nth-child(6) {
                @include transformTranslate(90deg, 2em);
            }
        }
    }
}

@keyframes rotate {
    0% {
        @include transform(0deg);
    }

    50% {
        @include transform(360deg);
    }

    100% {
        @include transform(0deg);
    }
}

.loader2 {
    clip-path: circle(0% at 100% 0);
}
