.portofolio-section {
    .portofolio-container {
        h1 {
            font-size: $font-size-title;
            text-align: center;
            color: white;
        }

        .work1 {
            display: inline-block;
            img {
                width: $width-img-portoflio;
                margin: $margin-img-portfolio;
                margin-left: 10%;
                border: $border-img-portfolio;
            }

            .work-description {
                width: $width-description-portfolio;
                height: $height-description-portofolio;
                padding: $padding-description-portofolio;
                background-color: $background-description-portofolio;
                border-radius: $border-radius-description-portofolio;
                float: right;
                right: 2%;
                bottom: 200px;
                position: relative;

                .technologies {
                    display: block;
                    position: relative;
                    float: right;
                    padding-left: 50px;

                    span {
                        margin-left: 25px;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .portofolio-section {
        align-items: center !important;
        position: relative !important;
        margin: 0 auto !important;
        display: block !important;
        float: none;
        .portofolio-container {
            position: relative;
            top: 500px !important;

            .work1 {
                img {
                   width: 90% !important;
                   left: 20% !important;
                   margin-left: 25px;
                   opacity: 0.4;
                }

                .work-description {
                    width: 90% !important;
                    right: 5% !important;
                    background-color: transparent !important;
                    color: white;
                    text-align: center;
                }

                .technologies {
                    display: none !important;
                }
                
            }
        }
    }
}