
/*
 * ! Loader
*/

@mixin loader-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transformTranslate ($deg, $em) {
    @each $var in ('', '-moz-', '-webkit-', 'ms', '-o-') {
        #{$var}transform: rotateY($deg) translateZ($em);
    }
}

@mixin transform ($deg) {
    @each $var in ('', '-ms-', '-webkit-', '-o-', '-moz-') {
        #{$var}transform: rotateY($deg) rotateX($deg);
    }
}

@mixin transformZ($em) {
    @each $var in ('', '-ms', '-webkit-', '-o-', '-moz-') {
        #{$var}transform: translateZ($em);
    }
}

/*
* Menu mixins
*/

@mixin color-active {
    color: #438C56;
    transition: 0.3s;
}

@mixin transitionMenu ($seg){
    @each $var in ('', '-moz-', '-webkit-', 'ms', '-o-') {
       #{$var}transition:  $seg;
    }
}

/*
*   Home mixins
*/

@mixin calc ($property, $expression){
    @each $var in ('', '-moz-', '-webkit-') {
        #{$property}: #{$var}calc(#{$expression});
    }
}