
/*
*     Loader variables
*/

$color-background: #000000;
$color-letter-loading: #ffffff;
$color-shadow-square: rgba(83,44,192,0.603);

$color-border-square: #ffffff;
$contenedor-width: 20%;
$contenedor-height: 20%;

$font-family-loading: 'Times New Roman', Times, serif;
$letter-spacing: 5px;
$font-size: 20px;

$square-height: 60%;
$span-width: 4rem;
$span-height: 4rem;

$span-border: 2px solid $color-border-square;
$span-box-shadow: inset 0px 0px 15px 5px $color-shadow-square;
$span-border-radius: 4px;



/*
*  Menu variables
*/

$header-width: 100%;
$header-height:  100vh;
$nav-width-menu: 100%;

$nav-height-menu: 100px;
$bar-btn-font-size: 25px;
$color-btn-bar-nav: #ffffff;

$margin-left-btn-bar-nav: 20px;
$menu-width: 100%;
$menu-height: 0vh;

$menu-top: 100px;
$line-height-li: 20px;
$margin-li: 10px 0;

$color-a: #ffffff;
$font-size-a: 30px;
$font-weight-a: 600;

$background-color-menu: #0E2C40;
/*
rgba(41, 85, 222, 0.6);
*/



/*
*       Home variables
*/

$main-width: 90%;
$main-height: 90%;
$main-background-color: rgba(#ffffff, 0.2);

$main-border: 1px solid rgba(#ffffff, 0.2);
$main-box-shadow: 0 3px 10px white;
$item-photo-width: 45%;

$photo-width: 70%;
$photo-height: 70%;
$photo-border-radius: 50%;

$photo-left: 15%;
$photo-top: 25%;
$item-description-width: 45%;

$separation-background-color: darken(black, 5%);
$h1-description-font-size: 300%;
$h1-description-font-weight: 800;

$h1-description-padding: 15px;
$p-description-margin-top: 20px;
$p-description-font-size: 200%;

$p-description-padding: 10px;
$img-complement-width: 50%;
$img-complement-height: 40%;

$img-complement-margin: 15px auto;
$img-complement-box-shadow: 0 3px 10px blue;



/*
 *  About variables   
*/

$width-section-about: 100%;
$hegith-section-about: 50%;
$width-container-about: 100%;

$height-container-about: 100%;
$width-photo-about: 50%;
$height-photo-about: 100%;

$width-description-about: 50%;
$height-description-about: 100%;
$font-size-title: 60px;

$p-font-size-about: 20px;
$line-height-p-about: 30px;


/*
 * Skills variables
*/

$margin-skills-h1: 20px;
$width-div-skills: 250px;
$heigth-div-skills: 10%;

$margin-div-skills: 20px;
$padding-div-skills: 20px;
$width-img-skills: 30%;


/*
 *  Portofolio variables
*/

$width-img-portoflio: 50%;
$margin-img-portfolio: 25px;
$border-img-portfolio: 1px solid black;

$width-description-portfolio: 50rem;
$height-description-portofolio: 7rem;
$padding-description-portofolio: 10px;

$background-description-portofolio: #3F7856;
$border-radius-description-portofolio: 10px;


/*
 *  Contact section
*/