
/* Loader variables */
$color-background: #000000;
$color-letter-loading: #ffffff;
$color-shadow-square: rgba(83,44,192,0.603);

$color-border-square: #ffffff;
$contenedor-width: 20%;
$contenedor-height: 20%;

$font-family-loading: 'Times New Roman', Times, serif;
$letter-spacing: 5px;
$font-size: 20px;

$square-height: 60%;
$span-width: 4rem;
$span-height: 4rem;

$span-border: 2px solid $color-border-square;
$span-box-shadow: inset 0px 0px 15px 5px $color-shadow-square;
$span-border-radius: 4px;