@import 'variables';
@import 'mixins';

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

@import 'partials/loader';
@import 'partials/menu';
@import 'partials/home';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cuadrado {
    border: 3px solid red;
    margin-top: 10px;
}

